{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    <title>LGink| Link não encontrado</title>
{% endblock titulo %}

{% block conteudo %}
    <div class="background">

        <div class="container">

            <div class="alinhar">
                <h1 class="titulo">Ops!</h1>
                <p class="texto_status">Página não encontrada.</p><a href="{% url 'home' %} "
                                                                     class="botao_principal texto_botao">Voltar</a>
            </div>
        </div>

    </div>
{% endblock conteudo %}